<div class="animal-registration-container">
    <h2>Cadastrar Animal</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nome:</label>
        <input type="text" id="name" [(ngModel)]="animal.name" name="name" required>
      </div>
      <div class="form-group">
        <label for="species">Espécie:</label>
        <input type="text" id="species" [(ngModel)]="animal.species" name="species" required>
      </div>
      <div class="form-group">
        <label for="age">Idade:</label>
        <input type="number" id="age" [(ngModel)]="animal.age" name="age" required>
      </div>
      <div class="form-group">
        <label for="description">Descrição:</label>
        <textarea id="description" [(ngModel)]="animal.description" name="description"></textarea>
      </div>
      <button type="submit">Cadastrar</button>
    </form>
  </div>  